<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Zozor - CV -</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    	<link rel='stylesheet' type='text/css' href='css/all.css'>
        <link rel='stylesheet' type='text/css' href='css/header.css'>
        <!-- Partie à Ajouter -->
        <link rel='stylesheet' type='text/css' href='css/footer.css'>

        <script type="text/javascript">
            /*  Variables Global  */
            var Mns=2,
                IdFooterView=false;
        </script>
    </head>
    <body>
        <header>
            <div id='haut_page'>
                <!-- Haut de Page créer par JavaScript -->
            </div
            ><nav id='menu' class='inactive'>
                <!-- Menu créer par JavaScript -->
            </nav>
        </header>

        <div id="contenu_page">
        	<h1>CV</h1>
        </div>

        <footer id="footer">
            <!-- footer créer par JavaScript -->
        </footer>

        <!--  Initiation du JavaScript  -->
        <script type="text/javascript" src='js/header.js'></script>
        <script type="text/javascript" src='js/menu.js'></script>
        <!-- Partie à Ajouter -->
        <script type="text/javascript" src='js/footer.js'></script>
    </body>
</html>