<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Zozor - Acceuil -</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    	<link rel='stylesheet' type='text/css' href='css/all.css'>
        <link rel='stylesheet' type='text/css' href='css/header.css'>
    	<link rel='stylesheet' type='text/css' href='css/index.css'>
        <link rel='stylesheet' type='text/css' href='css/footer.css'>

        <script type="text/javascript">
            /*  Variables Global  */
            var Mns=0,
                IdFooterView=true;
        </script>
    </head>
    <body>
    	<header>
    		<div id='haut_page'>
                <!-- Haut de Page créer par JavaScript -->
            </div
	    	><nav id='menu' class='inactive'>
	    		<!-- Menu créer par JavaScript -->
	    	</nav>
	    </header>
    	
        <div id="baniere">
            <img src="images/banieres/sanfrancisco.jpg" id='baniere_img' title="Sanfrancisco" alt="Retour sur mes vacances aux États-Unis" />
            <div id="baniere_description">... Retour sur mes vacances aux États-Unis ...</div>
            <div class="btnrouge"><a href="gallerie.html" title="Voir l'article">Voir l'article</a><div id="flecheblanche"><img src="images/ico/flecheblanchedroite.png" alt=""></div></div>
        </div>

        <div id="contenu_page">
            <section>
                <img src="images/ico/puce.png" alt="Puce"
                ><h1>Je suis un grand voyageur</h1>
                <ul>
                    <li class='space'>
                        <p id='cont11'>cliquez ici pour voir le contenu du paragraphe</p>
                        <p id='cont12' class='p_show'>Erat autem diritatis eius hoc quoque indicium nec obscurum nec latens, quod ludicris cruentis delectabatur et in circo sex vel septem aliquotiens vetitis certaminibus pugilum vicissim se concidentium perfusorumque sanguine specie ut lucratus ingentia laetabatur.</p>
                    </li>
                    <li class='space'>
                        <p id='cont21'>cliquez ici pour voir le contenu du paragraphe</p>
                        <p id='cont22' class='p_show'>Vbi curarum abiectis ponderibus aliis tamquam nodum et codicem difficillimum Caesarem convellere nisu valido cogitabat, eique deliberanti cum proximis clandestinis conloquiis et nocturnis qua vi, quibusve commentis id fieret, antequam effundendis rebus pertinacius incumberet confidentia, acciri mollioribus scriptis per simulationem tractatus publici nimis urgentis eundem placuerat Gallum, ut auxilio destitutus sine ullo interiret obstaculo.</p>
                    </li>
                    <li>
                        <p id='cont31'>cliquez ici pour voir le contenu du paragraphe</p>
                        <p id='cont32' class='p_show'>Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum</p>
                    </li>
                </ul>
            </section>
            <aside>
                <div id="bulle"><img src="images/ico/bulle_right.png"></div>
                <div id="cadre_aside">
                    <div id="zoom_aside">
                        <div id="about_as" class="sel_as">About</div
                        ><div id="event_as" class="nosel_as">Événements</div
                        ><div id="lien_as" class="nosel_as">Commentaires</div>
                    </div>
                    <div id="cont_as" class='cont_asview'>
                        <!--contenu dans js-->
                    </div>
                    <div id="foot_as">
                        <div id ='btnup_as'>
                            <img src="images/ico/btnup1.png" alt="view Aside">
                        </div>
                        <a href="#" title='Lien vers FaceBook'><img src="images/ico/facebook.png" alt="Lien vers FaceBook"></a>
                        <a href="#" title='Lien vers Twitter'><img src="images/ico/twitter.png" alt="Lien vers twitter"></a>
                        <a href="#" title='Lien vers Vimeo'><img src="images/ico/vimeo.png" alt="Lien vers vimeo"></a>
                        <a href="#" title='Lien vers Flickr'><img src="images/ico/flickr.png" alt="Lien vers flickr"></a>
                        <a href="#" title='Lien vers Rss'><img src="images/ico/rss.png" alt="Lien vers rss"></a>
                    </div>
                </div>
            </aside>
        </div>

        <footer id="footer">
            <!-- footer créer par JavaScript -->
        </footer>

        <!--  Initiation du JavaScript  -->
        <script type="text/javascript" src='js/header.js'></script>
        <script type="text/javascript" src='js/menu.js'></script>
        <script type="text/javascript" src='js/index.js'></script>
        <script type="text/javascript" src='js/footer.js'></script>
    </body>
</html>