<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cube</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="cube.css">
    </head>
    <body>
    	<div class="cube">
            <div class="faces">
    			<div class="face" id="nord">
                    <img src="img/bebe15.jpg">
                    <img class="fondu" src="img/bebe01.jpg">
    			</div>
    			<div class="face" id="sud">
    				<img src="img/bebe02.jpg">
                    <img class="fondu" src="img/bebe08.jpg">
    			</div>
    			<div class="face" id="est">
    				<img src="img/bebe03.jpeg">
                    <img class="fondu" src="img/bebe04.jpg">
    			</div>
    			<div class="face" id="west">
    				<img src="img/bebe09.jpg">
                    <img class="fondu" src="img/bebe10.jpg">
    			</div>
    			<div class="face" id="up">
    				<img src="img/bebe14.jpg">
                    <img class="fondu" src="img/bebe13.jpg">
    			</div>
    			<div class="face" id="down">
    				<img src="img/bebe16.jpg">
                    <img class="fondu" src="img/bebe12.jpg">
    			</div>
    		</div>
    	</div>
    </body>
</html>